body {
    min-height: 100vh;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "yel yel pur" 
    "re gr pur"
    "re vio vio";
    gap: 10px;
}
/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    1 1 2
    4 3 2
    4 5 5;
} */
div:nth-child(1) {
    background: yellow;
    grid-area: yel ;
}
div:nth-child(2) {
    background: purple;
    grid-area: pur;
}
div:nth-child(3) {
    background: green;
}
div:nth-child(4) {
    background: red;
    grid-area: re;
}
div:nth-child(5) {
    background: orchid;
    grid-area: vio;
}
